.header__lang-link {
    color: white;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
    text-decoration: none;
}

.header__lang-link:nth-of-type(2n) {
    margin-right: 0;
}

.header__lang-link:active {
    text-decoration: underline;
}