.header__links-container {
    display: flex;
    /* position: absolute;
    top: 46px;
    right: 48px; calc(2*28px + 48px + 18px); */
}

/* @media screen and (max-width: 1023px) {
    .header__links-container {
      right: 24px;
    }
  }

@media screen and (max-width: 424px) {
    .header__links-container {
      right: 16px;
      top: 30px;
    }
  }  */