@import url(__item/photo-grid__item.css);
@import url(__list/photo-grid__list.css);

.photo-grid {
  margin: 0 auto;
  padding: 0px 48px calc(92px - 80px);
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    padding: 0px 48px calc(92px - 80px);
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 0px 24px calc(88px - 72px);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 0px 16px calc(64px - 48px);
  }
}