@import url(../place/place.css);
@import url(__container/places__container.css);

.places {
  padding: 0px 48px 92px;
  color: white;
}

@media screen and (min-width: 1280px) {
  .places {
    padding: 0px 148px 92px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 0px 24px 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0px 0px 64px;
  }
}