.lead__title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 152px 32px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .lead__title {
    padding: 0px 280px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__title {
    padding: 0px 24px 32px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    padding: 0px 16px 16px;
  }
}