.place__link {
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: white;
align-self: end;
}

.place__link:hover {
    color: #dadada;
}