.cover__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url(../../../images/cover__overlay.png);
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.cover__overlay::before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .3);
}

.cover__overlay:hover {
    background: rgba(0, 0, 0, .8);
}