.cover__title {
  max-width: 560px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
  z-index: 1;
  box-sizing: border-box;
}


@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    padding-left: 20px;
    padding-right: 20px;
  }
}